
 <img src="./assets/backgrounds/Rectangle11.png" alt="something went wrong" style="width: 100%; height:446px;">
 <div> <app-header></app-header></div>
 <div class="title-logo">
    <div class="ml-5 mt-5" style="z-index: 2;"> <h1 style="font-weight: 100; margin-bottom: 0;">LOREM</h1>
     <h1 style="font-weight: 400;
     font-size: 3.5rem;">IPSUM</h1>
     </div>
 <div><img class="bit-logo" src="assets/backgrounds/bitcoin_3d_logo.png">  </div>
 </div>
 <div class="icons"><img src="./assets//icons/feature-bitcoin.png" style="width: 100px; " alt="">
     <img src="./assets/icons/feature-bitcoin copy.png" style="width: 80px; margin-left:-22px; " alt="">
 </div>
 
<p style="color: #41a3f2; text-align: center; font-size: 50px;">OUR SERVICES</p>
<div class="row" style="text-align: center;">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-tile">
        <img src="./assets/icons/Layer 3.png" alt="something went wrong"><p>SMART CONTRACTS <br>DEVELOPEMENT</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-tile">
        <img src="./assets/icons/Layer 4.png" alt="something went wrong"><p>EXCHANGES</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-tile">
        <img src="./assets/icons/Layer 5.png" alt="something went wrong"><p>BLOCKCHAIN DEVELOPEMENT</p>
    </div>
</div>
<div class="row" style="text-align: center; margin-top: 40px;">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-tile">
        <img src="./assets/icons/Network-512.png" alt="something went wrong"><p>HYPERLEDGER</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-tile">
        <img src="./assets/icons/if_Dzone_669685.png" alt="something went wrong"><p>PRIVATE BLOCKCHAIN <br>DEVELOPEMENT</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 card-tile">
        <img src="./assets/icons/Layer 6.png" alt="something went wrong"><p>WALLET</p>
    </div>
</div>
<div class="row">
    <div class="col-12" style="text-align: center; margin-top: 40px;">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#mymodal">View All Services</button>
</div>
</div>
<div class="row">
    <div class="col-12">
        <img src="./assets/backgrounds/4683.png" style="width: 100%;" alt="">
    </div>
</div>
<div class="row view-div">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
            <span class="label-color">How Blockchain Techology Will Fortify Real Estate Industry</span>
        <img src="./assets/sliders/Real-Estate-Investment-Dropping.png" style="width: 90%;" alt="">
<button type="button" class="btn vl-btn btn-outline-primary">View All</button>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
        <span class="label-color"> Blockchain Techology Can Help Fight Cyber Crimes</span>
        <img src="./assets/sliders/cybercrime2.png" style="width: 90%;" alt="">
        <button type="button" class="btn vl-btn btn-outline-primary">View All</button>
    </div>
     <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
        <span class="label-color">Blockchain Technology Contributing To Research & Development</span>
        <img src="./assets/sliders/businessman-business-sketch.png" style="width: 90%;" alt="">
        <button type="button" class="btn vl-btn btn-outline-primary">View All</button>
    </div>
</div>

<div class="row form-height" style="background-image: url('assets/backgrounds/Rectangle 13.png');">
  <!-- <img src="./assets/backgrounds/Rectangle 13.png" alt="" style="margin-top: 63px; width:100%"> -->
  
    
<div class="col-12 col-lg-6 col-md-6 col-sm-12" style="text-align: -webkit-center;">
<h2 style="color: white; font-size: 30px;">New to the Blockchain industry?<br>
Or got any queries?<br>
we are just one click away!</h2>
</div>
<div class="col-12 col-lg-6 col-md-6 col-sm-12" style="text-align: -webkit-center;">
<app-contact-us></app-contact-us>
    </div>
    
</div>



<div class="row">
    <div class="col-12" style="background-color: #183f66; color:white;height: 80px; width: 100%; margin-top: 20px;">
       <div style="margin-top: 27px;margin-left: 20px;"> Copyright 2009-2017 OodlesTechnologies. All right reserved.</div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="mymodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Our Services</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
   <ul>
    <li>Smart Contract Development</li>
    <li>Exchnages</li>
    <li>BlockChain Development</li>
    <li>Hyper Ledger</li>
    <li>Private BlockChain Development</li>
    <li>Wallet</li>
   </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>