
 <img src="./assets/backgrounds/Rectangle11.png" alt="something went wrong" style="width: 100%; height:300px;">
 <app-header></app-header>
<div class="icons"><img src="./assets//icons/feature-bitcoin.png" style="width: 100px; " alt="">
    <img src="./assets/icons/feature-bitcoin copy.png" style="width: 80px; margin-left:-22px; " alt="">
</div>

<p style="color: #41a3f2; text-align: center; font-size: 50px;">OUR SERVICES</p>
<div class="row" style="text-align: center;">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <img src="./assets/icons/Layer 3.png" alt="something went wrong"><p>SMART CONTRACTS <br>DEVELOPEMENT</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <img src="./assets/icons/Layer 4.png" alt="something went wrong"><p>EXCHANGES</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <img src="./assets/icons/Layer 5.png" alt="something went wrong"><p>BLOCKCHAIN DEVELOPEMENT</p>
    </div>
</div>
<div class="row" style="text-align: center; margin-top: 40px;">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <img src="./assets/icons/Network-512.png" alt="something went wrong"><p>HYPERLEDGER</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <img src="./assets/icons/if_Dzone_669685.png" alt="something went wrong"><p>PRIVATE BLOCKCHAIN <br>DEVELOPEMENT</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <img src="./assets/icons/Layer 6.png" alt="something went wrong"><p>WALLET</p>
    </div>
</div>
<div class="row">
    <div class="col-12" style="text-align: center; margin-top: 40px;">
    <button type="button" class="btn btn-outline-primary">View All Services</button>
</div>
</div>
<div class="row">
    <div class="col-12">
        <img src="./assets/backgrounds/4683.png" style="width: 100%;" alt="">
    </div>
</div>
<div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: -200px; text-align: center;">
        <img src="./assets/sliders/Real-Estate-Investment-Dropping.png" style="width: 90%;" alt="">

    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4" style="margin-top: -200px;">
        <img src="./assets/sliders/cybercrime2.png" style="width: 90%;" alt="">
    </div>
     <div class="col-12 col-sm-4 col-md-4 col-lg-4"style="margin-top: -200px;">
        <img src="./assets/sliders/businessman-business-sketch.png" style="width: 90%;" alt="">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img src="./assets/backgrounds/Rectangle 13.png" alt="" style="margin-top: 63px; width:100%">
    </div>
</div>



<div class="row">
    <div class="col-12" style="background-color: #183f66; height: 80px; width: 100%; margin-top: 20px; text-align: center;">
<div class="col-6" style="color: white; margin-top: 30px;">
    Copyright 2009-2017 OodlesTechnologies. All right reserved.
</div>
    </div>
</div>