<nav class="navbar navbar-expand-lg navbar-light bg-light main-continer">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img  class="logo" src="assets/icons/logo.png">
    </a>
  
    <div class="collapse navbar-collapse contents" id="navbarTogglerDemo03">
      
      <form class="form-inline my-2 my-sm-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PLATFORM </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">TECHNOLOGIES</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">MARKETING INSIGHTS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">ABOUT US</a>
          </li>
        </ul>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
  </nav>